@import "category.css";
@import "post-medium.css";
@import "post-large.css";

.blog-header {
  display: flex;
  flex-direction: column;
}

.share-list {
  padding: 4.8vw;
  padding-bottom: 0;
  list-style: none;
  display: flex;
}

.share-list__items {
  margin-right: 1rem;
  opacity: 0.5;
}

.share-list__items:hover,
.share-list__items:focus {
  opacity: 1;
}

.blog-title {
  font-size: 1.25rem;
  font-weight: 700;
}

.blog-description {
  line-height: 1.5;
  font-size: 0.9rem;
  text-align: justify;
}

.blog-author {
  text-transform: capitalize;
  margin: 0.5rem 0 1rem 0;
}

.blog-header-image {
  height: 40vh;
  background: url(../images/people-planting-trees-in-ethopia.jpg) center center /
    cover;
}

.blog-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  width: 100%;
}

.article-navigation {
  grid-template-columns: 1fr;
  display: grid;
  grid-gap: 2rem;
}

.main-text {
  grid-row-start: 1;
}

.blog-body-image-wrapper {
  display: flex;
  align-items: center;
  max-height: 40vh;
  overflow: hidden;
  width: 100%;
}

.blog-body-image {
  width: 100%;
}

.blog-image-caption {
  margin-top: 10px;
  font-size: 0.8rem;
  font-style: italic;
  text-transform: capitalize;
}

.quote-wrapper {
  margin: 8vw;
}

.quote {
  font-size: 1rem;
  font-weight: 700;
  color: grey;
  /* opacity: 0.6; */
  position: relative;
}

.quote::before {
  color: var(--blog-red);
  content: "\f10d";
  font-family: "FontAwesome";
  font-size: 3rem;
  line-height: 1rem;
  margin-right: 10px;
}

.blog-body-image-multiple {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  margin: 1.5rem 0;
}

.blog-body-image-multiple img:last-of-type:nth-of-type(odd) {
  grid-column: span 2;
}

.blog-body-image-multiple img {
  width: 100%;
}

.blogpost-top-grid {
  margin: 3.5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3rem;
}

.author-profile {
  font-size: 0.8125rem;
  font-weight: 600;
  grid-row-start: 3;
  display: flex;
  flex-flow: row wrap;
}

.author-profile-image-wrapper {
  height: 456px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.author-profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.author-job {
  position: absolute;
  font-size: 0.8125rem;
  font-weight: 600;
  bottom: 30px;
  background-color: whitesmoke;
  padding: 1.125rem 2.1875rem;
  border-radius: 25px;
  text-transform: uppercase;
}

.author-profile-title {
  color: var(--blog-red);
  font-size: 0.8125rem;
  font-weight: 600;
}

.author-profile-text {
  margin: 10px 0 20px 0;
}

.author-profile-link {
  display: block;
  margin-top: 14px;
  color: var(--blog-red);
}

.author-profile-link:hover .ml-1 {
  margin-left: 60%;
}

.prev-article-post__image-wrapper,
.next-article-post__image-wrapper {
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev-article-post__image,
.next-article-post__image {
  width: 100%;
}

.prev-article-post__text,
.next-article-post__text {
  margin-top: 1.1875rem;
}

.prev-article-post__title,
.next-article-post__title {
  font-size: 1.1875rem;
  font-weight: 600;
  margin: 1rem 0 0.5rem 0;
}

.prev-article-post-link,
.next-article-post-link {
  color: var(--blog-pink);
}

.prev-article-post-link:hover,
.next-article-post-link:hover,
.prev-article-post-link:focus,
.next-article-post-link:focus {
  color: var(--blog-red);
}

@media only screen and (min-device-width: 682px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .blog-header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .share-list {
    padding: 0;
    padding-left: 4.3vw;
    padding-bottom: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  .share-list__items {
    margin-right: 0;
    margin-bottom: 1rem;
    opacity: 0.5;
  }

  .blog-title {
    font-size: 1.5625rem;
  }

  .blog-description {
    font-size: 1rem;
  }

  .blog-author {
    text-transform: capitalize;
    margin: 0.5rem 0 1rem 0;
  }

  .blog-header-image {
    height: 50vh;
  }

  .article-navigation {
    grid-template-columns: 1fr 1fr;
  }

  .author-profile {
    grid-column: span 2;
    grid-row-start: 2;
  }

  .author-profile-image-wrapper {
    width: 40%;
  }

  .author-info {
    width: 60%;
    padding: 0 50px;
    background-color: #f7f7f7;
  }

  .author-profile-image-wrapper {
    height: 300px;
  }
}

@media screen and (min-device-width: 1000px) and (max-device-width: 1920px) and (-webkit-min-device-pixel-ratio: 1) {
  .blog-header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .share-list {
    padding: 0;
    padding-left: 4.3vw;
    padding-bottom: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
  }

  .share-list__items {
    margin-right: 0;
    margin-bottom: 1rem;
    opacity: 0.5;
  }

  .blog-title {
    font-size: 2.5rem;
  }

  .blog-description {
    font-size: 1rem;
  }

  .blog-author {
    text-transform: capitalize;
    margin: 1rem 0 1rem 0;
    font-size: 1rem;
  }

  .blog-header-image {
    height: 75vh;
  }

  .blog-body-image-wrapper {
    height: 60vh;
  }

  .blog-body-image-multiple {
    grid-template-columns: repeat(auto-fit, 1fr);
  }

  .blog-body {
    grid-template-columns: repeat(4, 1fr);
  }

  .article-navigation {
    display: block;
    grid-row-start: 1;
  }

  .author-profile {
    margin-bottom: 20vh;
  }

  .main-text {
    grid-column: span 2;
    grid-row-start: 1;
  }

  .quote-wrapper {
    margin: 4vw;
  }

  .quote {
    font-size: 1.5rem;
  }

  .top-wrapper {
    grid-row-start: 1;
  }

  .blogpost-top-grid {
    grid-template-columns: 1fr;
  }
}
